<div class="container bg-body my-4 py-3 col-10 col-md-4 border">
    <div class="fs-3">コンテンツ新規登録</div>
        <%= form_with model: @content do |f| %>
            <%= f.label :content_image, "イメージ画像", class:"form-label mb-0 mt-2" %>
            <%= f.file_field :content_image, class:"form-control" %>
            <%= f.label :title, "作品名", class:"form-label mb-0 mt-2" %>
            <%= f.text_field :title, class:"form-control" %>
            <div class="row justify-content-center g-2 mt-2">
            <div class="col">
            <%= f.label :genre, "カテゴリ", class:"form-label mb-0" %>
            <%= f.select :genre, Content::OPTIONS, {include_blank: "選択してください"}, {class:"form-select"} %>
            </div>
            <div class="col">
            <%= f.label :manufacturer, "販売会社", class:"form-label mb-0" %>
            <%= f.text_field :manufacturer, class:"form-control" %>
            </div>
            </div>
            <%= f.label :detail, "概要", class:"form-label mb-0 mt-2" %>
            <%= f.text_area :detail, class:"form-control" %>
            <div class="text-end">
            <div>
            <%= f.label :tags, "タグを追加", class:"form-label mb-0"%>
            <%= f.fields_for :tags do |tag_form| %>
                <%= tag_form.text_field :name, class: "form-control mt-2", placeholder: "タグ名を入力" %>
            <% end %>
            </div>
            <%= f.submit "登録する", class:"btn btn-primary mt-2" %>
            </div>
        <% end %>
        </div>
        </div>
    </div>
