<div class="container-fluid">
  <div class="container col-md-4 my-5 bg-body rounded">
    <div class="py-4">
      <h3 class="mb-4 ms-3">新規登録</h3>
      <div class="col-10 mx-auto">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="mb-3">
        <%= f.label :name, "名前", class:"form-label" %>
        <%= f.text_field :name, class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :email, "メールアドレス", class:"form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "パスワード", class:"form-label" %>
        <% if @minimum_password_length %>
        <div class="form-text text-muted small">
        (<%= @minimum_password_length %> 文字以上にしてください)
        </div>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password_confirmation, "パスワード(確認用)", class:"form-label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="d-flex justify-content-between align-items-end">
        <div><%= render "devise/shared/links" %></div>
        <div>
          <%= f.submit "登録", class:"btn btn-secondary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

