<div class="col-6 container py-3">
    <div class="col-8 bg-light mx-auto">
    <div class="py-3 px-5 border bg-body rounded">
    <%= render "shared/error", obj: @user %>
        <%= form_with model: @user do |f| %>
        <div class="mb-3 d-flex justify-content-center">
            <% if @user.avatar.attached? %>
                <%= image_tag @user.avatar, size: "150x150", class: "rounded-circle object-fit-cover" %>
            <% else %>
                <%= image_tag "default-avatar", size: "150x150", class: "rounded-circle" %>
            <% end %>
        </div>
        <div>
            <div class="mb-3">
                <%= f.label :avatar, "画像を変更", class:"form-label"%>
                <%= f.file_field :avatar, class:"form-control" %>
            </div>
            <div class="mb-3">
                <%= f.label :name, "名前", class:"form-label" %>
                <%= f.text_field :name, class:"form-control" %>
            </div>
            <div class="d-flex justify-content-between align-items-end">
            <%= link_to "戻る", :back %>
            <div class="text-center"><%= f.submit "変更する", class:"btn btn-secondary"%></div>
            </div>
        </div>
        <% end %>
    </div>
    </div>
    </div>
