<% content_for :title, "pages#top" %>
<div class="container-fluid">
<%= render "shared/searchbar" %>
    <div class="d-flex justify-content-center">
        <div class=" fs-5 fw-bold border rounded-3 bg-body py-2 px-4 me-4 d-flex flex-column align-items-center">
        <div class="mb-2">新着</div>
            <div>
                <% if @content.content_image&.attached? %>
                    <%= image_tag @content.content_image, size:"150x200" %>
                <% else %>
                    <%= image_tag "sample_content", size:"150x200", class:" object-fit-cover" %>
                <% end %>
                </div>

                <div class="badge rounded-pill bg-secondary mt-3"><%= @content.genre %></div>
                <div class="text-center"><%= @content.title %></div>
                <div class="text-center"><%= @content.author %></div>
        </div>
        <div class="fs-5 fw-bold col-3 border rounded-3 bg-body py-2 px-2 me-4 ">
        <div class="mb-2 text-center">カテゴリから探す</div>
        <div class="mx-5">
        <% Content::OPTIONS.each do |genre| %>
            <%= link_to genre, contents_path(genre: genre), class:"btn btn-outline-primary mb-2 d-flex align-items-center justify-content-center" %>
        <% end %>
        </div>
        </div>
        <div class="fs-5 fw-bold col-3 border rounded-3 bg-body py-2 px-2">
            <div class="mb-2 text-center">傾向から探す</div>
            <div class="mx-3">
                <% Tag.first(10).each do |tag| %>
                    <%= link_to tag.name, contents_path(tag_name: tag.name), class:"btn btn-outline-primary my-1" %>
                <% end %>
            </div>
        </div>
    </div>
</div>
