<!DOCTYPE html>
<html>
  <head>
    <title>Recordig App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  </head>

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to "Recordig App", root_path, class: "navbar-brand" %>

      <% if user_signed_in? %>
        <div class="dropdown ms-auto">
          <a class="d-flex align-items-center rounded bg-transparent text-decoration-none text-light dropdown-toggle"
             id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="cursor: pointer;">

            <div class="user-avatar me-2">
              <% if current_user.avatar.attached? %>
                <%= image_tag current_user.avatar, size: "50x50", class: "rounded-circle object-fit-cover" %>
              <% else %>
                <%= image_tag "default-avatar", size: "50x50", class: "rounded-circle object-fit-cover"%>
              <% end %>
            </div>
            <span><%= current_user.name %></span>
          </a>

          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
            <%= link_to "コンテンツ一覧", my_contents_contents_path, class:"dropdown-item" %>
            <%= link_to "コンテンツ登録", new_content_path, class:"dropdown-item" %>
            <%= link_to "レビュー一覧", posts_path, class:"dropdown-item" %>
            <%= link_to "マイページ", user_path(current_user), class:"dropdown-item" %>
            <div class="dropdown-divider"></div>
            <%= link_to "ログアウト", destroy_user_session_path, data: { turbo_method: :delete }, class:"dropdown-item" %>
          </div>
        </div>

      <% else %>
        <div class="d-flex ms-auto">
          <%= link_to "新規登録", new_user_registration_path, class:"me-3 text-decoration-none text-light" %>
          <%= link_to "ログイン", new_user_session_path, class:"text-decoration-none text-light me-3" %>
          <%= link_to "ゲストログイン", users_guest_sign_in_path, data: { "turbo-method": :post }, class:"text-decoration-none text-light" %>
        </div>
      <% end %>

    </div>
  </nav>
</header>

  <body class="bg-light">
    <%= yield %>
  </body>
</html>
